@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@100&display=swap');


.todo-container {
  min-height: 100vh;
  border: 1px solid;
}

.toDo {
  position: relative;
}


@media(min-width: 768px) {
  .todo-container {
    max-width: 550px;
    margin: 0 auto;
  }
}