@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@100&display=swap');


.todo-container {
  min-height: 100vh;
  box-shadow: 10px 10px 36px 5px rgba(0,0,0,0.43);
}

.toDo {
  position: relative;
}


@media(min-width: 768px) {
  .todo-container {
    max-width: 700px;
    margin: 0 auto;
  }
}