.list-container {
  margin: -2rem .8rem;
  padding: 2rem .5rem;
  background-color: white;
  border-radius: 10px;
}

.list-item {
  border-radius: 5px;
  margin: 7px;
  display: flex;
  justify-content: space-between;
}

.list-item-content {
  color: white;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
}

.delete-btn {
  background-color: #c94c4c;
  border: 0;
  color: white;
  padding: .6rem;
}

.isItDone-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

input[type="checkbox"] {
  cursor: pointer;
}