.list-container {
  margin: -2rem .7rem;
  padding: 2rem 0;
  background-color: white;
  border-radius: 10px;
}

.list {
  min-height: 150px;
  padding: 1rem;
  margin: 0 0 4rem 0;
}

.list h1 {
  font-size: 2.5rem;
}


.list-item {
  border-radius: 5px;
  margin: 7px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-item-content {
  color: white;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
}

.toDo-title {
  font-size: 1.2rem;
}

 .toDo-date{
  margin-left: 2rem;
  font-size: 1.2rem;
}

.delete-btn {
  background-color: #c94c4c;
  border: 0;
  color: white;
  padding: .6rem;
}

.isItDone-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

input[type="checkbox"] {
  cursor: pointer;
}