.toDoForm {
  background-color: #24a0ed;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  z-index: 100;
}

label {
  color: white;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input, select {
  border: 0;
  padding: .4rem;
  margin: .5rem;
}

.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: .6rem;
  border: 0;
  color: white;
  background-color: #24a0ed;
  cursor: pointer;
}

.add-btn {
  padding: .8rem 2.5rem;
  margin: .5rem;
  background-color: rgb(27, 209, 27);
  border: none;
  color: white;
  border-radius: 10px;
}