.list-item-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all .4s ease-in-out;
  width: 100%;
  animation-name: example;
  animation-duration: .4s;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  min-height: 100vh;
  overflow: scroll;
}

h1 {
  font-family: 'Anton', sans-serif;
}

.list-item-container .list-item-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-container .list-item-body-group {
  margin: .5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-item-container .back {
  position: absolute;
  right: 5px;
  top: 35px;
  background: none;
  font-size: 1.1rem;
  color: white;
  border: none;
  cursor: pointer;
}

hr {
  width: 100%;
}

.list-item-container .list-item-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.list-item-container .button-container .list-modal-btn {
  padding: .7rem 1.2rem;
  margin: 5rem 1rem;
  color: white;
  border: none;
  border-radius: 5px;
}

.list-item-container .button-container .update-btn {
  background-color: orange;
}



@media (min-width: 1000px) {
  .list-item-container {
    max-width: 900px;
    height: 50%;
    bottom: 0;
    left: 50%;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    transform: translate(-50%);
  }
}

@keyframes example {
  from {bottom: -100%; opacity: 0;}
  to {bottom: 0; opacity: 1;}
}

.inactive {
  left: -100%;
}

